div {
    padding: 10px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    font-size: large;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
}
td {
    width: 50%;
    border: 2px solid black;
    font-family: Arial;
    font-size: large;
    padding: 4px 8px;
    text-align: right;
}

#leftAlign {
    text-align: left;
}